@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

space = #2c3e50
spacial = #6b7c93
Facebook = #3A5999
bluef = rgba(0,248,255,1)

html
  height 100% !important
body
  height 100% !important
#root 
  height 100% !important
.main 
  height 100% !important
Header
  background url('http://s3.amazonaws.com/chewiekie/img/devc-bg.png') center center no-repeat 
  background-size cover
  min-height 100% 
  min-width: 100%
  z-index -9999
  .content
    padding-top 25px
    color white
    .nav
      a
        color white
        transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
        text-transform uppercase
        font-weight 200
        letter-spacing 1.1px
        font-size 13px
        &:hover           
          transform scale(1.1)
          color rgba(white,0.8) 
  .hero
    font-family 'Lato', sans-serif
    color white
    text-align: center
    img 
      margin-top 24vh
      width: 600px
    h2
      margin-top 40px
      font-size 48px
      font-weight 300
    p 
      font-size 19px
      font-weight 200 
      margin 5px 0px 30px 0px
    .btn-rsvp
      background-color white
      cursor pointer
      padding 20px 45px 
      border 1px solid white
      color black
      font-weight 200
      text-transform uppercase
      font-size 12px
      font-weight 600
      border-radius 30px
      letter-spacing 1.5px
      transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
      box-shadow 0 1px 2px 0 rgba(0,0,0,0.03)
      outline none
      &:hover 
        background-color rgba(white,0.8)
        transform scale(1.03)
        color rgba(black,0.8)
        text-decoration: none
  .arrows
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  .arrows path
    stroke: white;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  @keyframes arrow
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  @-webkit-keyframes arrow
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  .arrows path.a1
    animation-delay -1s
    -webkit-animation-delay -1s
  .arrows path.a2
    animation-delay:-0.5s
    -webkit-animation-delay:-0.5s 
  .arrows path.a3
    animation-delay 0s
    -webkit-animation-delay 0s 
#eventInfo
  position relative
  background-color #f5f7fa
  padding 120px 0px
  font-family 'Open Sans', sans-serif;
  h2
    font-size 28px
    text-transform uppercase
    font-weight 400
    text-align center
    color Facebook
    margin-bottom 40px
  p
    font-weight 300 
    font-size 20px
    text-align center
    margin 0 auto
    color spacial
    width 75%
    padding-bottom 40px
#agenda
  position relative
  background-color #fff
  color Facebook
  padding 120px 0px
  font-family 'Open Sans', sans-serif;
  h2
    font-size 32px
    text-transform uppercase
    font-weight 700
    text-align center
    color Facebook
    margin-bottom 40px
  img
    width: 24px
    float: right 
  h3
    margin-left: 20px
    display: inline-block
    font-size 20px
  span  
    width: 20%
    font-size: 14px
    font-weight: 300
  .col-sm-3
    padding-left: 0px
    padding-right: 0px 
  .box 
    margin-bottom 30px
#speakers
  min-height 400px
  padding-top 80px
  padding-bottom 120px
  font-family 'Open Sans', sans-serif
  background-color #f5f7fa
  a  
    color bluef
    text-decoration none
    transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    &:hover
      text-decoration none
      color rgba(pink,.6)
  h2 
    font-weight 300
    font-size 32px
    text-transform: uppercase
    font-weight: 700
    text-align: center
    color Facebook
    margin-bottom 40px
  h3 
    font-size: 16px
    margin-top 20px
    color Facebook
  h4 
    font-size: 20px 
    font-weight: 700
    margin-top 20px
    margin-bottom 0px
  span 
    font-size: 14px
    font-weight: 300
    font-style: oblique
    margin-top 0px
    display block 
    margin-bottom 20px
  p
    color spacetext
    font-weight 300
    text-align: justify
  .card
    margin-bottom 40px
    background #f9fbfd
    border 1px solid #dee5ec
    box-shadow 0 1px 2px 0 rgba(0,0,0,.03)
    border-radius 4px
    z-index 1
    img 
      z-index -9998
      border-top-left-radius 4px
      border-top-right-radius 4px
  .content 
    display table
    width 100%
    height auto
    padding 0 15px
    background #fff
    border-radius 4px
  .head 
    display table-cell
    vertical-align middle
    padding 5px
    .row 
      margin-bottom 40px
  .more
    border-top 1px dotted #dee5ec
    display block
    border-bottom 1px dotted #dee5ec
    a
      color Facebook
    ul 
      list-style-type none
      margin 0 
      padding 8px 15px
      li
        display inline-block
        margin-right: 15px
        font-size: 25px
#venue
  font-family 'Open Sans', sans-serif
  position relative
  min-height 600px
  .contact-form
    background #f9fbfd
    border 1px solid #dee5ec
    box-shadow 0 1px 2px 0 rgba(0,0,0,.03)
    width 480px
    z-index 9999
    padding 25px
    min-height 340px
    margin 60px 40px 0px 40px
    border-radius 8px
    border 1px solid rgba(space,.4)
    right 180px
    position absolute
    h2 
      font-size 20px
      font-weight 300
    h3 
      font-size: 28px 
      font-weight: 400
    h4 
      font-size: 18px
      font-weight: 300
      margin-bottom 20px
    p 
      font-weight 300
      margin-top -5px 
      margin-bottom 40px
    .form-control
      border 1px solid rgba(125,125,125,0.2)
      box-shadow 0 2px 5px 0 rgba(0,0,0,0.1)
      outline 0
      height 48px
      border-radius 4px
      font-size 14px 
      font-weight 300
      margin-bottom: 10px
    button 
      background-color Facebook
      border 1px solid rgba(Facebook,0.8)
      font-weight 300
      padding 10px 24px !important
      display block 
      width: 100%
    .sendingMsg
      margin-top 20px 
      margin-bottom 0px
      color Facebook
    .successMsg
      margin-top 20px 
      margin-bottom 0px   
      color green
    .duplicateMsg
      margin-top 20px 
      margin-bottom 0px
      color red
    .errorMsg
      margin-top: 20px
      margin-bottom 0px
      color red
  #map 
    height 600px
    width 125%
    right 0%
    overflow hidden
    position absolute
    background-color grey
    z-index 9998
    border-top 1px solid #dee5ec
footer 
  padding 20px 
  border-top 1px solid rgba(space,0.2)
  color Facebook
  h4 
    display inline-block
    font-size 14px
    font-weight 300
    margin-top 12px
  a 
    color Facebook
  .right
    text-align: right 